<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Восстановление пароля</title>
</head>
<body>
<main class="content-wrapper m-auto">
  <div layout:fragment="content" class="container-fluid" style="margin-top: 4rem">
    <form method="POST" th:action="@{/users/remember-password}" th:object="${changePasswordForm}">
      <div class="form-group col-md-2 offset-md-4 m-auto">
        <label for="email">Почта</label>
        <input name="email" type="email" class="form-control" id="email"
               placeholder="Почта"/>
      </div>
      <br>
      <div class="form-group col-md-2 offset-md-4 m-auto">
        <button type="submit" class="btn btn-success m-auto">Восстановить пароль</button>
      </div>
    </form>
  </div>
</main>
</body>
</html>
